version: "3.9"

services:
  web-app:
    build: .
    deploy:
      replicas: 2
  load-balancer-master:
    build:
      context: load-balancer
      args:
        role: master
    ports:
      - 8080:8080
    cap_add:
      - NET_ADMIN